<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left" id = "footer_bar">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">

          <!-- Content -->
          <h4 class="text-uppercase"><a href="{% url 'services:index' %}">SERVICES</a></h4>
          <p>Our services</p>

        </div>
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

            <!-- Links -->
            <h4 class="text-uppercase"><a href="{% url 'contact:index' %}">CONTACTS</a></h4>

            <ul class="list-unstyled">
              <li>
                Contact 1
              </li>
              <li>
                Contact 2
              </li>
              <li>
                Contact 3
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-3">

            <!-- Links -->
            <h4 class="text-uppercase">FOLLOW US</h4>

            <ul class="list-unstyled">
              <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i>Google+</a></li>
              <li><a href="#"><i class="fa fa-github"></i>Github</a></li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->
