#myNavbar, .home_body, .page-footer, .margin {
  font-family: 'Francois One', sans-serif;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0 !important;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #272727 !important;
}
.navbar li a, .navbar .navbar-brand, #footer_bar, .text-uppercase a , .list-unstyled li a{
    color: #fff !important;
}
.navbar-nav  li a:hover, .list-unstyled li a:hover , .text-uppercase a:hover {
    color: #00ffff !important;
}
.bg-1 {
  background-color: #272727;
  color: #00ffff;
  margin-top: 80px;
  border: 0px;
  height: 300px;
  padding-top: 50px;
}
.blankspace {
  height: 80px;
}
#footer_bar {
  background-color: #272727 !important;
  padding: 40px;
}
